.faceted-browse-page #content {
	padding-left: $gutter;
	padding-right: $gutter;
}
.faceted-browse-page #container {
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;

	.page-title {
		flex-basis: 100%;
	}
	.browse-controls {
		margin-bottom: 0;

		@include breakpoint(lg) {
			grid-template-columns: auto 1fr;
		}

		& > * {
			margin-bottom: 0;
		}
		select,
		input {
			//height: calc(100% - 1px);
			background-color: $bg-list;
			border-color: $bg-list;
			border-bottom: 0;
		}
	}

	// FACETS
	#section-sidebar {
		width: 100%;
		padding: $gutter;
		background-color: $bg-white;

		@include breakpoint(xs) {
			width: $one-third;
		}
		@include breakpoint(md) {
			width: $one-fifth;
		}
	}
	.facets-container {
		margin-bottom: 0;
	}

	#helper-text-expand-collapse {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 0;

		&::after {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 1.2em;
			height: 1.2em;
		}
	}
	#helper-text {
		padding: $gutter--xs;
	}

	fieldset {
		margin: 0;
	}
	legend {
		font-weight: $normal;
	}
	.facets {
		margin-top: $gutter--md;
	}

	.facet {
		margin-bottom: $gutter--md;

		&:last-child {
			margin-bottom: 0;
		}

		legend {
			font-size: 1em;
		}
	}
	.select-list-item {
		margin-bottom: $gutter;

		label {
			line-height: $line-height--sm;

			&:hover,
			&:focus {
				cursor: pointer;
				background-color: $bg-secondary;			

				span {
					box-shadow: inset 0 -2px 0 0 $bg-primary;
				}
			}
			&:has(.value.selected) span {
				font-weight: $semi-bold;
			}

			span {
				@include transition;
			}
		}
	}
	[type="radio"]:not(:checked), 
	[type="radio"]:checked,
	[type="checkbox"]:not(:checked), 
	[type="checkbox"]:checked {
		position: absolute;
		left: 0;
		opacity: 0.01;
	}
	label:has([type="radio"]:not(:checked)),
	label:has([type="radio"]:checked),
	label:has([type="checkbox"]:not(:checked)),
	label:has([type="checkbox"]:checked) {
		position: relative;
		padding-left: $gutter--sm;
		cursor: pointer; 
	}
	label:has([type="radio"])::before,
	label:has([type="checkbox"])::before {
		content: '';
		position: absolute;
		left: 0;
		top: 10px;
		display: block;
		height: 5px;
		width: 12px;
		background-color: $bg-dark;
	}

	label:has([type="radio"]:checked),
	label:has([type="checkbox"]:checked) {
		margin-left: -$gutter;
		margin-right: -$gutter;
		padding-left: calc( #{$gutter--sm} + #{$gutter} );
		padding-right: $gutter;
		border: 5px solid $border--1;

		&::before {
			top: 5px;
			left: $gutter;
			height: 12px;
			width: 12px;
			background-color: $bg-primary;
		}
	}
		

	// MAIN CONTENT
	#section-content {
		width: 100%;

		@include breakpoint(xs) {
			width: $two-thirds;
		}
		@include breakpoint(md) {
			width: $four-fifths;
		}
	}
	.tablesaw-bar {
		display: none; // voir utilisation de cet outil, à développer
	}
	table {
		margin-bottom: 0;
		background-color: $bg-white;
	}
	thead {
		border: 5px solid $border--1;
	}
	th {
		padding: $gutter--xs $gutter;
		text-transform: uppercase;
		line-height: $line-height--sm;
	}
	tr {
		position: relative;
		@include transition;

		&:nth-of-type(even) {				
			background-color: $bg-list;
		}
		&:hover,
		&:focus-within {
			background-color: $bg-list-hover;
			box-shadow: inset 0 -5px 0 0 $border--1, inset 0 5px 0 0 $border--1, inset 5px 0 0 0 $border--1, inset -5px 0 0 0 $border--1;

			td:first-child {
				box-shadow: inset  -5px 0 0 0 $border--1;
			}
		}
		td {
			padding: $gutter;
			vertical-align: top;
			@include transition;
		}
	}

	table .resource-link {
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: flex-start;
		width: 	100%;
		max-width: 100%;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		img {
			max-height: 150px;
		}
	}

	.resource-name {
		max-width: 100%;
		font-weight: $semi-bold;
		color: $color-global;
	}
	tr a:not(.resource-link) {
		position: relative;
		z-index: 2;
		display: inline-block;
		line-height: $line-height--sm;
		font-weight: $semi-bold;
		color: $color-global;
		border-bottom: 4px solid $border--link;

		&:hover,
		&:focus,
		&:visited:hover,
		&:visited:focus {
			background-color: $bg-link;
			border-color: $bg-link;
			color: $color-light;
			box-shadow: none;
		}

		&:visited {
			color: $color-visited;
			border-bottom-color: lighten($bg-dark, 20%);
		}
	}
}