/* ------------	COLORS
----------------------------------------------------------- */

// COLORS LIST
$black:			#000; 		/* Titres + liens survol + filet simple search */ 
$dark:			#404040; 	/* Textes courants + filets boutons + fond foncés */
$grey--1:		#EFEBED; 	/* BG listes */
$grey--2:		#FDF4F0; 	/* Bg listes survol */
$grey--3:		#F1EAEA; 	/* BG Recherche / formulaires */
$grey--4:		#E6E1E2; 	/* Border liens */
$grey--5:		#D8CFD2; 	/* Border liens hover */
$light:			#F9F9F9; 	/* BG pages */
$white: 		#FFF;

$primary:		#B71E00; 	/* Main color - rouge */
$secondary:		#F2AE8F; 	/* Complementary color - saumon */
$tertiary:		#6B4C57; 	/* Complementary color - taupe */

// BODY & BG COLORS ATTRIBUTION
$bg-primary:	$primary; 
$bg-secondary:	$secondary;
$bg-tertiary:	$tertiary; 	

$bg-white:		$white;
$bg-body:		$light;
$bg-dark:		$black;
$bg-grey:		$grey--1;
$bg-medium:		$grey--3;
$bg-light:		$light;

$bg-menu:		$bg-white;
$bg-socials:	$bg-dark;
$bg-search:		$grey--3;

// MISC
$bg-link:		$bg-primary;  // bg behind links on hover / focus state
$bg-button:		$bg-primary;
$bg-menu-hover:	$bg-white;

$border--1:			$black;
$border--2:			$bg-primary;
$border--3:			$grey--5; 
$border--link:		$grey--4;
$border--button:	$black;
$border--form:		$black;
$outline:			$bg-primary;

$marker:		$black;
$marker--2:		$black; /* second level markers */


// FONT COLORS ATTRIBUTION
$color-global:		$black;
$color-headings:	$black;
$color-headings--2:	$color-headings;
$color-light:		$white;

$color-button:			$color-headings;
$color-button--hover: 	$color-light;

$color-link:			$color-global;
$color-link--hover:		$color-light;
$color-accent:			$primary;

$color-menu:		$color-global;
$color-lang:		$color-light;
$color-visited:		$tertiary;
$color-label:		$tertiary;
$color-value:		$color-global;
$color-placeholder:	$color-global;
$color-legend:		$color-label;