/* Items
--------------------------------------------- */
.item.show .blocks,
.items.search .blocks {

	& > .wrap:has(.main-region) {
		padding: 0 $gutter $gutter--md $gutter;

		@include breakpoint(xs) {
			padding: 0 $gutter--sm $gutter--lg $gutter--lg;
		}
		@include breakpoint(sm) {
			padding-left: $gutter--xl;
			padding-right: $gutter--xl;
		}
		@include breakpoint(md) {
			padding-left: 2 * $gutter--lg;
			padding-right: 2 * $gutter--lg;
		}
	}		

	h1  {

		.title {
			margin-bottom: 0;
		}
	}
	.page-chapo {
		margin-bottom: $gutter--md;
	}
}
.regions-container,
.main-region,
.section--plus {
	margin-bottom: $gutter--md;
	padding-left: $gutter;
	padding-right: $gutter;

	@include breakpoint(sm) {
		margin-bottom: $gutter--lg;
	}
}
.regions-container:not(.one-column) {

	@include breakpoint(lg) {
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-column-gap: $gutter--xl;
		align-items: flex-start;
	}
	.region + .region {
		margin-top: $gutter--md;

		@include breakpoint(lg) {
			margin-top: 0;
		}
	}
}
.item.show {

	.section--infos {
		container-name: section-infos;
		container-type: inline-size;
		padding: $gutter;
		border: 5px solid $border--1;

		@include breakpoint(sm) {
			padding: $gutter--sm;
		}

		.resource__property {
			
			@include breakpoint(sm) {
				grid-template-columns: 2 * $gutter--lg 1fr;
			}
		}
	}
	.section--edito,
	.section--relation {

		&__title {
			position: relative;
			@extend .wrap;
			@extend .wrap--xs;
			max-width: $width--xs;
			margin-top: $gutter--lg;
			margin-bottom: calc(-#{$gutter--xs} + 1px);
			padding: $gutter $gutter 0;
			line-height: 1;			
			text-align: center;

			&::before {
				content: '';
				position: absolute;
				z-index: -1;
				top: calc(-#{$gutter--xs} + 1px);
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $bg-secondary;
			}
		}
	}
	.section--edito {

		.properties-wrapper {
			padding: $gutter;
			background-color: $bg-white;

			@include breakpoint(sm) {
				padding: $gutter--sm;
			}
			@include breakpoint(md) {
				padding-left: $gutter--md;
				padding-right: $gutter--md;
			}
		}
		.dcterms-description .label {
			@include screen-reader-text;
		}
	}
	.section--relation {

		&__title {
			margin-top: 0;
			margin-bottom: $gutter--md;
			padding-left: $gutter--xs;
			padding-right: $gutter--xs;

			&::before {
				top: 0;
				height: calc(100% - #{$gutter--xs} + 1px);
				background-color: $bg-secondary;
			}
		}
		.resource__value {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		.resource-link {
			display: grid;
			grid-template-columns: 1fr;
			justify-content: center;
			background-color: $bg-white;
			border: 5px solid $border--1;

			&:not(:last-child) {
				margin-bottom: $gutter--md;
			}
			&:hover,
			&:focus {

				.resource-name {
					color: $color-accent;
				}
			}
		}
		.resource-name {
			padding: $gutter--xs $gutter--xs $gutter $gutter--xs;
			font-family: $font-headings;
			font-weight: $bold;
		}
	}
	.section--cite {
		background-color: $bg-list;

		.properties-wrapper {
			padding: $gutter;

			@include breakpoint(sm) {
				padding: $gutter--sm;
			}
			@include breakpoint(md) {
				padding-left: $gutter--md;
				padding-right: $gutter--md;
			}
		}
		.label {
			font-family: $font-headings;
			font-size: $font-size__h3;
			color: $color-headings;
		}
	}
}
.region {
	&--section {

		.octopusviewer-wrapper + .properties-wrapper {
			padding: $gutter--sm $gutter;
			background-color: $bg-light;

			dl {
				display: grid;
				grid-template-columns: 1fr;
				grid-row-gap: $gutter--xs;

				@include breakpoint(sm) {
					grid-template-columns: 1fr 1fr;
					grid-column-gap: $gutter--sm;
				}
			}
			dd {
				margin-bottom: 0;
			}
			.resource__property {
				grid-template-columns: max-content 1fr;
				margin-bottom: 0;
			}
		}
	}
	&.section2 {
		container-name: itemproperties;	
		container-type: inline-size;
		max-width: $width--xs;
		width: 100%;
		@include margin-auto;

		.properties-wrapper dl,
		.metadata dl {
			grid-row-gap: 0.75 * $gutter;
		}

		@container itemproperties (min-width: 450px) {
			
			.resource__property,
			.metadata .property {
				grid-template-columns: $gutter--xxl 1fr;

				dd:not(:first-of-type) {
					grid-column: 2;
				}
			}
		}
	}

	& + .region {
		margin-top: $gutter--md;
	}
}

.item.show .slider-items {
	position: relative;
	margin-top: $gutter--xl;
	padding-top: $gutter--xl;

	@include breakpoint(sm) {
		margin-top: 2 * $gutter--lg;
		padding-top: 2 * $gutter--lg;
	}
	@include breakpoint(md) {
		margin-top: $gutter--xxl;
		padding-top: $gutter--xxl;
	}

	&::before {
		content: '';
		position: absolute;
		top: -$gutter;
		left: 50%;
		transform: translateX(-50%);
		display: block;
		width: $width--lg;
		max-width: 90%;
		height: $gutter--md;
		background: var(--img-separator) no-repeat center /cover;
	}
	&__title {
		@extend h1;
		margin-bottom: $gutter--xl;
	}
}