/* Pages
--------------------------------------------- */
.page-layout-normal .block {
	margin: 0;
	padding: $gutter--md 0;
}
.page:not(.home) .blocks-inner {

	h2 {
		max-width: $width--xxs;
		padding: $gutter $gutter 0 $gutter;
		@include margin-auto;
		background-color: $bg-secondary;
		background: linear-gradient(180deg, rgba($bg-secondary,1) calc(100% - 9px), rgba($bg-white,1) calc(100% - 9px));
		text-align: center;
	}
}

.page .blocks {

	&-inner {
		padding-left: $gutter;
		padding-right: $gutter;
		background-color: $bg-white;

		@include breakpoint(sm) {
			padding-left: $gutter--md;
			padding-right: $gutter--md;
		}
		@include breakpoint(md) {
			padding-left: $gutter--lg;
			padding-right: $gutter--lg;
		}
		@include breakpoint(lg) {
			padding-left: $gutter--xl;
			padding-right: $gutter--xl;
		}
	}

	&.wrap {
		margin-left: $gutter;
		margin-right: $gutter;
		padding-top: $gutter;
		padding-bottom: $gutter--xl;

		@include breakpoint(xl) {
			margin-left: auto;
			margin-right: auto;
		}
	}
	.block:nth-child(2) {
		position: relative;
	}

	p {
		margin-bottom: $gutter;

		&:last-child {
			margin-bottom: 0;
		}
	}
	.page-chapo {
		padding: 0 0 $gutter--lg 0;
		border-bottom: 5px solid $bg-secondary;

		&::before {
			left: -$gutter--lg;
			top: -0.5 * $gutter;
		}
		&::after {
			right: -$gutter--lg;
			bottom: $gutter--md;
		}

	}
}

.page-chapo {
	position: relative;
	padding: $gutter--md;
	background-color: $bg-white;
	text-align: center;
	font-family: $font-family--2;
	font-weight: $bold;
	font-size: $font-size__h3;

	&::before,
	&::after {
		content: '';
		position: absolute;
		display: block;
		width: 40px;
		height: 40px;
		background: var(--icon-chapo-left) no-repeat center/contain;
	}
	&::before {
		left: $gutter--xs;
		top: $gutter--xs;
	}
	&::after {
		right: $gutter--xs;
		bottom: $gutter--xs;
		background-image: var(--icon-chapo-right);
	}
}