.toc-block {
	padding: $gutter;

	@include breakpoint(xs) {
		padding: $gutter--sm;
	}
	
	ul {
		border: 0;
	}
}

// BLOC TABLE DES MATIERES
.page-layout-normal .block-blockGroup:has(.block-tableOfContents) {
	padding-top: 0;
	border: 5px solid $border--1;

	& > .block-html:has(h2,h3) {
		padding-top: 0;
		padding-bottom: 0;
	}
	.block-tableOfContents {
		padding-left: $gutter;
		padding-right: $gutter;

		@include breakpoint(xs) {
			padding-left: $gutter--sm;
			padding-right: $gutter--sm;
		}
	}
	.toc-block {
		padding: 0;
	}
}