button,
.button,
input[type="button"],
input[type="submit"] {
	padding: 0.5 * $gutter--xs $gutter--sm;
	background-color: $bg-white;
	border: 5px solid $border--button;
	text-transform: uppercase;
	font-family: $font-button;
	font-weight: $medium;
	color: $color-button;
	@include transition;	

	&:hover,
	&:focus {
		background-color: $bg-primary;
		border-color: $bg-primary;
		color: $color-light;
	}
	&:visited {
		border-color: $border--button;
	}
	&::before {
		font-family: $font-icon;
	}

	&.inactive {
		filter: grayscale(100%);
		opacity: 0.5;

		&:hover,
		&:focus {
			background-color: transparent;
			color: initial;
			opacity: 0.5;
		}
	}
}
button[type="submit"]:hover {
	cursor: pointer;
}

.button {

	&--small {
		position: relative;
		margin-left: 80px;
		padding: 0.5 * $gutter--xs;
		background-color: $bg-body;
		border: 5px solid transparent;
		font-family: $font-button--2;

		&::before {
			content: '';
			position: absolute;
			left: -80px;
			top: 0;
			height: 100%;
			width: 76px;
			background-image: var(--icon-arrow-right-primary), var(--icon-arrow-right-primary), var(--icon-arrow-right-primary);
			background-repeat: no-repeat;
			background-position: left center, left 24px center, left 48px center;
			background-size: 24px, 24px, 24px;
		}

		&:hover,
		&:focus {			
			background-color: $bg-white;
			border-color: $border--button;
			color: $color-global;

			&:before {
				background-image: var(--icon-arrow-right-secondary), var(--icon-arrow-right-secondary), var(--icon-arrow-right-secondary);
			}
		}
	}
	&--help {
		@extend .button--small;
		text-transform: none;
		color: $color-global;

		&:hover,
		&:focus {
			background-color: $bg-body;
			border-color: transparent transparent $border--button transparent;
			box-shadow: inset 0 -1px 0 0 $bg-secondary;
			color: $color-accent;
		}
	}

	&--advanced {
		padding: 0.5 * $gutter--xs $gutter 0.5 * $gutter--xs $gutter--xs;	

		i {
			margin-right: $gutter;
			font-size: 1.5em;
		}
	}
}

.button.previous,
.button.next {
	width: $gutter--sm;
	border-bottom: 0;
	font-size: 1.8em;
	color: $color-accent;

	&::before{
		width: 100%;
		text-align: center;
		@include transition;
	}

	&:hover,
	&:focus {
		color: $color-light;
	}
	&.inactive {

		&:hover,
		&:focus {
			color: $color-accent;
		}
	}
}