.block ul {
	padding-inline-start: $gutter--md;
}
.block ul li:not([role]) {
	position: relative;
	list-style-type: none;

	&::before {
		content: '';
		position: absolute;
		left: -$gutter--sm;
		top: 12px;
		display: block;
		height: 5px;
		width: 12px;
		background-color: $border--1;
	}
	li::before {
		top: 10px;
		height: 8px;
		width: 8px;
	}
	li li {
		//list-style-type: disc;
		
		&::before {
			content: '—';
			top: 0;
			background: none;
		}
	}
	li ul {
		padding-inline-start: $gutter;
	}
	li li li {
		list-style-type: circle;
	}
	li li li li {
		list-style-type: square;
	}
	dl dt {
		font-weight: $semi-bold;
		font-style: normal;
		font-size: $font-size__h4;
	}
	dl dd {
		margin-bottom: $gutter;
	}
}
::marker {
	color: $marker;
}