.breadcrumbs {
	margin-bottom: $gutter--md;
	padding: 0.5 * $gutter $gutter;
	font-size: 0.88889em;

	@include breakpoint(xl) {
		padding-left: 0;
		padding-right: 0;
	}

	a {	
		border-bottom: 1px dashed $bg-primary;
		
		&:hover,
		&:focus {
			background-color: $bg-primary;
			box-shadow: none;
			color: $color-light;
		}
	}
}
