.home section {

	& > .wrap {
		padding: $gutter--lg $gutter;

		@include breakpoint(sm) {
			padding-top: $gutter--xl;
			padding-bottom: $gutter--xl;
		}
	}
		
	h2[class*='title'] {
		text-transform: uppercase;
		text-align: center;
		font-size: $font-size__h1;
	}
	.wrap > div[class*='text'] {
		margin-bottom: $gutter--md;
	}

	// if page content shows after home contents from theme parameters
	& + .blocks--container {
		margin-top: $gutter--xl;
	}
}


/* HOME - Carousel
--------------------------------------------- */
@import "home-carousel";

/* HOME - Presentation (edito)
--------------------------------------------- */
@import "home-edito";

/* HOME - Item sets
--------------------------------------------- */
 @import "home-collections";

/* HOME - Themes
--------------------------------------------- */
 @import "home-themes";

/* HOME - Items selection
--------------------------------------------- */
@import "home-items";