/* -----------------------------------------------
					FOOTER
--------------------------------------------------*/
.footer {
	margin-top: $gutter--xxl;
	padding: $gutter--md $gutter;

	.wrap {
		display: grid;
		grid-template-columns: 1fr;
		grid-column-gap: $gutter;
		grid-row-gap: $gutter--sm;


		&:has(.footer__logo--bis) {

			@include breakpoint(xs) {
				grid-template-columns: 2fr 1fr;
				grid-template-areas: 'logo logo''menu logo-bis' 'socials copyright';
			}
			@include breakpoint(md) {
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-areas: 'logo menu logo-bis' 'logo menu logo-bis' 'copyright copyright copyright';
			}
		}
		&:not(:has(.footer__logo--bis)) {

			@include breakpoint(xs) {
				grid-template-columns: 2fr 1fr;
				grid-template-areas: 'logo logo''menu menu' 'socials copyright';
			}
			@include breakpoint(md) {
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-areas: 'logo menu' 'logo menu' 'copyright copyright';
			}
		}
	}

	&__logo {		
		display: flex;
		align-items: center;
		justify-content: center;

		@include breakpoint(xs) {
			grid-area: logo;
		}

		img {
			max-width: 250px;
			max-height: 250px;
		}
	}
	&__logo--bis {		
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: $gutter--md;
		padding-top: $gutter;
		border-top: 3px solid $border--1;

		@include breakpoint(xs) {
			grid-area: logo-bis;
			margin-top: 0;
			padding-top: 0;
			padding-left: $gutter;
			border-top: 0;
			border-left: 3px solid $border--1;
		}
		@include breakpoint(md) {
			padding-left: 0;
		}

		img {
			max-width: 190px;
			max-height: 190px;
		}
	}
	
	nav {		
		display: flex;
		align-items: center;
		justify-content: center;

		@include breakpoint(xs) {
			grid-area: menu;
		}
		

		ul {
			display: flex;
			flex-flow: row wrap;
			gap: $margin;
			row-gap: $gutter;
			width: 100%;
			padding: 0;
			margin: 0;

			@include breakpoint(xs) {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-row-gap: $gutter;
				grid-column-gap: $gutter;
			}
		}
		li {
			display: flex;
			align-items: flex-start;
			justify-content: center;
			width: $one-third;
			list-style-type: none;

			@include breakpoint(xs) {
				width: 100%;
			}
		}

		a {
			position: relative;
			padding-top: $gutter--sm;
			text-transform: uppercase;
			text-align: center;
			line-height: $line-height--sm;
			font-family: $font-headings;

			&::before {
				content: '';
				position: absolute;
				left: calc(50% - #{$gutter--xs} );
				top: 0;
				display: block;
				width: $gutter;
				height: $gutter;
				background-color: $bg-dark;
				border-radius: $gutter;
			}

			&:hover,
			&:focus {
				box-shadow: inset 0 -3px 0 0 $border--1;
			}
		}
	}

	&__socials {
		display: flex;
		flex-flow: row wrap;
		gap: $gutter;

		@include breakpoint(xs) {
			grid-area: socials;
		}

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			height: $gutter--sm;
			width: $gutter--sm;
			background-color: $bg-dark;
			border-radius: 3px;
			@include transition;

			&:hover,
			&:focus {
				background-color: $bg-primary;
				transform: scale(1.2);
				@include box-shadow--sm;
			}
		}

		img {
			max-height: $gutter;
			max-width: $gutter;
		}
	}

	&__copyright {		
		text-align: right;
		font-family: $font-headings;
		font-weight: $semi-bold;
		font-size: 0.8889em;

		@include breakpoint(xs) {
			grid-area: copyright;
		}
	}
}

/* -----------------------------------------------
					PARTNERS
--------------------------------------------------*/
.partners + .footer,
#content:has(.partners:last-child) + .footer {
	margin-top: $gutter--sm;
}
.partners {
	margin-top: $gutter--xxl;	

	&__separator {
		height: $gutter--xl;
		max-width: $width--xxl;
		@include margin-auto;
		background: var(--img-footer-separator) no-repeat center/cover $bg-secondary;	
	}
	& > .wrap {
		padding: $gutter--sm $gutter 0;
		background-color: $bg-white;
	}

	&__title {
		@extend h1;
	}

	&__list {
		display: flex;
		flex-flow: row wrap;
		gap: $gutter--lg;
		justify-content: center;
		align-items: center;
		list-style-type: none;
	}
	&__item {

		a {
			display: block;
			border: 2px solid transparent;

			&:hover,
			&:focus {
				border-color: $bg-medium;
				@include box-shadow--sm;

				img {
					filter: grayscale(0%);
				}
			}
		}
	}
	img {
		max-height: 80px;
		max-width: 300px;
		padding: $gutter--xs;
		border: 3px solid transparent;

		&:hover,
		&:focus {
			border-color: $border--1; 
		}
	}
	&__button {
		text-align: center;

		.button {
			background-color: $bg-white;

			&:hover,
			&:focus {			
				background-color: $bg-secondary;
			}
		}
	}
}

/* -----------------------------------------------
					BACK TO TOP
--------------------------------------------------*/
#backtotop {
	position: fixed;
	z-index: 1000;
	bottom: 30px;
	right: 30px;
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: $bg-secondary;
	border: 0;
	border-radius: 4px;
	text-decoration: none;
	text-align: center;
	transition: background-color .3s, opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;

	&::after {
		content: "";
		position: absolute;
		inset: 30%;
		transform: translateY(20%) rotate(-45deg);
		border-top: 5px solid $bg-body;
		border-right: 5px solid $bg-body;
	}
	&:hover,
	&:focus {
		cursor: pointer;
		background-color: $bg-primary;
	}
	&:active {
		opacity: 1;
		background-color: $bg-socials;
	}
	&.show {
		opacity: 0.5;
		visibility: visible;

		&:hover,
		&:focus {
			opacity: 1;
		}
	}
}