.pagination__container {
	container-type: inline-size;
	container-name: pagination-container;
}
.pagination {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-row-gap: 0.5 * $gutter;
	grid-column-gap: 0.5 * $gutter;
	align-items: center;	
	width: fit-content;
	@include margin-auto;
	text-transform: uppercase;
	font-family: $font-headings;
	font-size: 0.88889em;

	@include container(pagination-container, xxs) {
		grid-template-columns: auto auto auto auto;
	}

	form {
		display: grid;
		grid-template-columns: auto auto 1fr;
		grid-column-gap: 0.5 * $gutter;
		align-items: center;
		width: max-content;
		min-height: 45px;

		@include container(pagination-container, xxs) {
			order: initial;
		}
	}
	input {
		max-width: 70px;
		height: 100%;
		padding-left: 0.5 * $gutter;
		padding-right: 0.5 * $gutter;
		border-radius: 0;
		text-align: right;
	}
	.row-count {
		grid-column: span 3;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 45px;

		@include container(pagination-container, xxs) {
			grid-column: initial;
			width: max-content;
		}
	}
	.page-count,
	.row-count {

		@include breakpoint(lg) {
			width: max-content;
		}
	}
	&-button {
		height: 100%;

		.button {
			position: relative;
			height: calc(100% - 1px);
			width: 45px;
			background-color: transparent;
			padding: 0;
			border: 0;
				
			&::before {
				content: '';
				position: absolute;
				display: block;
				height: 100%;
				width: 100%;
				background-repeat: no-repeat;
				background-size: $gutter;
				background-position: center;
			}
			&.previous::before {
				background-image: var(--icon-arrow-left-primary);
			}
			&.next::before {
				background-image: var(--icon-arrow-right-primary);
			}
		}
	}
}
.pagination--bottom {
	margin-top: 0;
	padding: 0 $gutter--xs $gutter--xs;
	background-color: $bg-light;
	border-top: 5px solid $border--1;
	
	.pagination {
		margin-left: auto;
		margin-top: -1px;
	}
}