.break.opaque,
hr,
.block hr {
	border-width: 0 0 5px;
	border-bottom-color: $bg-secondary;
	color: $bg-secondary;
}

.break.img-separator {
	position: relative;
	@include alignwide;
	height: $gutter--md;
	background: var(--img-separator) no-repeat center/cover;
	border: 0;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba($bg-dark, 0.3); 
	}
}