.splide {

	&__track {
		margin-bottom: 24px;
	}

	&__arrow {
		top: -$gutter--sm;
		background-color: transparent;
		@include transition;

		@include breakpoint(sm) {
			top: 50%;
		}

		&:hover,
		&:focus {
			background-color: transparent;

			&.splide__arrow--prev i::before {
				background-image: var(--icon-slider-prev-primary);
				transform: scale(1.5);
			}
			&.splide__arrow--next i::before {
				background-image: var(--icon-slider-next-primary);
				transform: scale(1.5);
			}
		}

		i {
			width: 100%;
			height: 100%;
			font-size: 1.7em;

			&::before {
				display: block;
				height: 100%;
				width: 100%;
				@include transition;
			}
		}

		&--prev {
			left: 0;

			@include breakpoint(sm) {
				left: -0.8em;
			}
			@include breakpoint(lg) {
				left: -3em;
			}

			i::before {
				content: '';
				margin-right: 0.5 * $gutter--xs;
				background: var(--icon-slider-prev-black) no-repeat center/22px;
			}
		}
		&--next {
			right: 0;

			@include breakpoint(sm) {
				right: -0.8em;
			}
			@include breakpoint(lg) {
				right: -3em;
			}

			i::before {
				content: '';
				margin-left: 0.5 * $gutter--xs;
				background: var(--icon-slider-next-black) no-repeat center/22px;
			}
		}
	}


	&__pagination {
		top: calc(-#{$gutter--md} - 0.5 * #{$gutter--xs});
		bottom: auto;
		justify-content: flex-end;

		li {

			&:last-child {
				margin-right: 0;
			}
		}

		&__page {
			height: $gutter;
			width: $gutter;
			padding: 0;
			background-color: $bg-body;
			border: 3px solid $bg-primary;
			opacity: 1;

			&:hover,
			&:focus {
				padding: 0;
			}
		}
		&__page.is-active {
			background-color: $bg-primary;
			transform: none;
		}
	}
}


.slider-item {

	h2.slider-item__title,
	h3.slider-item__title,
	h4.slider-item__title {
		margin-top: 0;
		margin-bottom: $gutter;
	}

	&__contents {
		position: relative;
		display: grid;
		grid-template-rows: auto 1fr;
		border: 5px solid $border--1;
		height: 100%;
		margin: 0 $gutter;

		&:hover,
		&:focus-within {

			.slider-item__thumbnail {
				background-color: $bg-secondary;

				img {
					transform: scale(0.85);
					max-height: 100%;
				}
			}
			.slider-item__title {

				a {
					color: $color-accent;
				}
			}
			.slider-item__texts {
				background-color: $bg-light;
			}
		}
	}

	&__thumbnail {
		position: relative;
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		height: 300px;
		background-color: $bg-medium;
		overflow: hidden;
		@include transition;

		@include breakpoint(sm) {
			aspect-ratio: 1/1;
			height: auto;
		}

		img {
			object-fit: cover;
			object-position: center;
			min-height: 100%;
			min-width: 100%;
			@include transition;
		}
	}
	&__texts {
		padding: $gutter 0.25 * $gutter--xs;
		@include transition;

		.item-notice__property {
			padding-left: 0;
			padding-right: 0;
		}
	}
	&__title {
		margin-top: 0;
		margin-bottom: $gutter;
		padding: 0 $gutter--xs;

		a {

			&::after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}

			&:hover,
			&:focus {
				
			}
		}
	}
}